<div class="container-fluid">

	<div class="row page-header col-lg-12">
		<h1>Listado de contenedores</h1>
	</div>

	<div class="row col-lg-12">
		<button class="btn btn-default pull-right">Informar contenedor</button>
	</div>

	<div class="row table-responsive col-lg-12">
		<table class="table">
			<thead>
			<tr>
				<th>Terminal</th>
				<th>Buque</th>
				<th>Viaje</th>
				<th>Contenedor</th>
				<th>Conocimiento</th>
				<th>Fecha devolución</th>
				<th>Lugar devolución</th>
				<th>Razón social</th>
				<th>CUIT</th>
				<th>Estado</th>
				<th>Fecha alta</th>
				<th>Usuario</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
		</table>
	</div>

</div>